<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Checkpoint</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div  class="navbar-header">
          <a class="navbar-brand" href="/">Checkpoint</a>
        </div>

        <!-- Show name if logged in -->
        <ul class ="nav navbar-nav navbar-right">
          <% if (currentUser) { %>
            <li><a href="/users/<%= currentUser.username %>/edit">Hello, <%= currentUser.getName() %></a></li>
            <li><a href="/logout">Logout</a></li>
          <% } else { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sigup</a></li>
          <% } %>

        </ul>
      </div>
    </div>
    <div class="container">
      <% errors.forEach(function(error) { %>
        <div class="alert alert-danger" role="alert"><%= error %></div>
      <% }) %>
      <% infos.forEach(function(info) { %>
        <div class="alert alert-success" role="alert"><%= info %></div>
      <% }) %>
    </div>
    
    <div class="container">
 
